<div [style.background]="ServiceService.boldColor" class="footer1 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5>{{'START FIRST 30 DAYS.'|translate}}
                </h5>
                <p>{{'Enter your email to create or restart your membership.'|translate}}
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex w-100">
                   <!-- <div class="footer-input"> -->
                       <input type="text" class="w-75" placeholder="{{'Enter Your Email'|translate}}">
                   <!-- </div> -->
                   <!-- <div class="footer-btn"> -->
                       <button [style.background]="ServiceService.globalColor" class="w-25" type="button">{{'GET STARTED'|translate}}</button>
                   <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div [style.background]="ServiceService.globalColor" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-2">
                <h5>{{'MOVIES'|translate}}</h5>
            </div>
            <div class="col-8 col-sm-10 col-md-10">
                <ul>
                    <li>
                        <a>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="clearfix"></div>
        
        
                </ul> 
            </div>
        </div>
    </div>
</div>

<div>
    <div class="fixed-item">
        <a href="#" class="scrollToTop" [style.background]="ServiceService.globalColor">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
</div>