<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                <h5 class="wow bounce" data-wow-duration="4s" [style.color]="ServiceService.globalColor" style="font-family: cursive;color: rgb(3, 20, 51);font-size: 23px;">{{'Welcome.'|translate}}</h5>
                <p style="font-family: cursive;font-size: 20px;color: white;">{{'Millions of movies, TV shows and people to discover. Explore now.'|translate}}</p>
                <div class="d-flex">
                    <div class="w-75">
                        <input type="search" name="searchKey" [(ngModel)]="searchKey"  [matAutocomplete]="auto" class="w-100" placeholder="{{'Search For a Movie'|translate}}">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let item of allMovies | filter:searchKey" [value]="item.title">{{item.title}}</mat-option>
                      </mat-autocomplete>
                      </div>
                   
                    <div class="w-25">
                        <button [style.background]="ServiceService.globalColor">{{'search'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



<div class="mt-5">
<div class="container">
  <div class="navPagination py-2 my-8 w-25 m-auto rounded">
    <ul class="list-unstyled d-flex justify-content-around">
        <li *ngFor="let page of pages" (click)='changePage(page)'>{{page}}</li>
    </ul>

 </div>
<div class="row">
    <div class="col-md-3 mt-5">
       
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        sort
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <p>Sort Result By</p>
                  <!-- <mat-form-field appearance="legacy"> -->
                    <select (change)="sort()" [(ngModel)]="sortedItem" >
                      <option value="Popularity Descending">Popularity Descending</option>
                      <option value="Popularity Ascending">Popularity Ascending</option>
                      <option value="Rating Descending">Rating Descending</option>
                      <option value="Rating Ascending">Rating Ascending</option>
                      <!-- <option value="Release date Descending">Release date Descending</option>
                      <option value="Release date Ascending">Release date Ascending</option>
                      <option value="Title [A-Z]">Title [A-Z]</option>
                      <option value="Title [Z-A]">Title [Z-A]</option> -->

                    </select>
                  <!-- </mat-form-field> -->
                  <br>

                  <!-- <button (click)="sort()" style="background:#220113;color:white;border:none;outline:none;width:50%;border-radius:3px;padding:10px">sort</button> -->
                   </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" class="mt-3">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        filter
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <mat-form-field appearance="legacy">
                    <mat-label>Language</mat-label>
                    <mat-select disableRipple [(ngModel)]="language">
                      <mat-option value="en">en</mat-option>
                      <mat-option value="it">it</mat-option>                   
                    </mat-select>
                  </mat-form-field> 
                  <mat-form-field appearance="legacy">
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>      
                  <mat-form-field appearance="legacy">
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>             
                </mat-expansion-panel>
              </mat-accordion>
              <button class="btn-search" (click)="filterByLanguage()">Filter</button>
   </div>
   <div class="col-md-9">
       <div class="row">
     
    <ng-container *ngIf="f == true">
    <div class="col-sm-6 col-md-6 col-lg-3 mt-5" *ngFor="let item of allMovies | filter:searchKey;let i=index">
        <a routerLink="/movie-details/{{item.id}}">
        <img [src]="imagePrefix+item.poster_path" class="w-100 h-100" alt="">
        </a>
        <p style="color: white;text-align: center;" class="mt-1">{{item.title}}</p>
    </div>
</ng-container>
<ng-container *ngIf="f == false">
    <div class="col-sm-6 col-md-6 col-lg-3 mt-4" *ngFor="let item of allFiltered;let i=index">
        <a routerLink="/movie-details/{{item.id}}">
        <img [src]="imagePrefix+item.poster_path" class="w-100 h-100" alt="">
        </a>
        <p style="color: white;text-align: center;" class="mt-1">{{item.title}}</p>
    </div>
</ng-container>
      
</div>
</div>
</div>
</div>
</div>
